body{
    background-color: black import !important;
}

/* Cambia colores del tag <a> del navbar */
.nav-item a, .dropdown-item {
    color: #00000081; /* Cambia el color de la letra a blanco */
}

.dropdown-item:hover {
    background-color: #007bff !important; /* Cambia esto al color azul que prefieras */
    color: white !important; /* Cambia el color del texto a blanco para mejor contraste */
}

.carousel-item img {
    width: 180px;
    height: 180px;
    border-bottom-right-radius: calc(.25rem - 1px);
}

/*.carousel-item {
    display: flex !important;
    justify-content: flex-end !important;
    align-items: center !important; /* Esto asegura que el contenido también esté centrado verticalmente, si es necesario 
}*/